body {
    font-family: 'Open Sans', arial, sans-serif;
    background-color: #00bbff;
    background-image: url('background-triangles.png');
}
* {
    margin: 0;
    padding: 0;
    user-select: none;
}

#categories {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10%;
}

.clr:after {
    content: "";
    display: block;
    clear: both;
}

#categories li {
    position: relative;
    list-style-type: none;
    width: 12.1875%; /* = (100-2.5) / 3.5 */
    padding-bottom: 14.0625%; /* =  width /0.866 */
    float: left;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
}

.tile-dice {
    height: 3vw;
    width: 3vw;
    border: 1vw solid yellow;
    border-radius: 50%;
    margin-top: 4vw;
    margin-left: -2.5vw;
    color: black;
    font-weight: bold;
    font-size: 3vw;
    line-height: 3vw;
    z-index: 1;
    background: yellow;
    text-align: left;
}

 

/* Gaps between tiles*/
    #categories li:nth-child(7n+2), #categories li:nth-child(7n+4), #categories li:nth-child(7n+6) {
        margin: 0 1%;
    }
    /* END */
    #categories li:nth-child(14n+8) {
        margin-left: 0.5%;
    }

    #categories li:nth-child(14n+8), #categories li:nth-child(14n+9), #categories li:nth-child(14n+10), #categories li:nth-child(14n+11), #categories li:nth-child(14n+12), #categories li:nth-child(14n+13), #categories li:nth-child(14n+14) {
        margin-top: -3.0%;
        margin-bottom: -3.0%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
        transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }

    #categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child {
        margin-bottom: 0%;
    }

    #categories li * {
        position: absolute;
        visibility: visible;
    }

    #categories li > div {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        overflow: hidden;
        -webkit-transform: skewY(-30deg) rotate(60deg);
        -ms-transform: skewY(-30deg) rotate(60deg);
        transform: skewY(-30deg) rotate(60deg);
        -webkit-backface-visibility: hidden;
    }

    /* HEX CONTENT */
    #categories li img {
        left: -100%;
        right: -100%;
        width: auto;
        height: 100%;
        margin: 0 auto;
    }

#categories div h1, #categories div p {
    z-index: 2;
    width: 90%;
    padding: 0 5%;
    /*background-color: #008080;*/
    background-color: #00bbff;
    font-family: 'Raleway', sans-serif;
    -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
    transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}

#categories li h1 {
    bottom: 110%;
    font-style: italic;
    font-weight: normal;
    font-size: 1.5em;
    padding-top: 100%;
    padding-bottom: 100%;
}

    #categories li h1:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -1px;
        left: 45%;
        width: 10%;
        text-align: center;
        z-index: 1;
        border-bottom: 2px solid #fff;
    }

#categories li p {
    padding-top: 50%;
    top: 110%;
    padding-bottom: 50%;
}


/* HOVER EFFECT  */

#categories li div:hover h1 {
    bottom: 50%;
    padding-bottom: 10%;
}

#categories li div:hover p {
    top: 50%;
    padding-top: 10%;
}

#fork {
    position: fixed;
    top: 0;
    left: 0;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    padding: .5em .7em;
    margin: 1%;
    transition: color .5s;
    overflow: hidden;
}

    #fork:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 130%;
        height: 100%;
        background: #000;
        z-index: -1;
        transform-origin: 0 0;
        transform: translateX(-100%) skewX(-45deg);
        transition: transform .5s;
    }

    #fork:hover {
        color: #fff;
    }

        #fork:hover:before {
            transform: translateX(0) skewX(-45deg);
        }

/* - - - Road Elements - - - */
.catan-road--container {
    position: absolute;
    /*top: 3vw;*/
    /*left: 51.5%;*/
    overflow:auto;
    height: 5.8vw;
    margin: 0 auto;
    background: none;
    /*position: absolute; left:40%;right: 40%;top: 0;bottom: 0;*/
    z-index: 2;
    overflow: hidden;
    width: 1.5vw;
    border-top: 0.3vw solid black;
    border-bottom: 0.3vw solid black;
    border-left: 0.3vw solid grey;
    border-right: 0.3vw solid grey;
    opacity: 0.4;
    transform-origin: top;
    display: none;
}

 .catan-road--container:hover {
        background: red;
        opacity: 1;
    }

 .game-tile {
     display: none;
 }

/* - - - House Elements - - - */
.catan-house--container {
     position: absolute;
    /*top: 3vw;*/
    /*left: 51.5%;*/
    overflow:auto;
    height: 1.5vw;
    margin: 0 auto;
    background: none;
    /*position: absolute; left:40%;right: 40%;top: 0;bottom: 0;*/
    z-index: 3;
    overflow: hidden;
    width: 2vw;
    border-top: 1vw solid black;
    border-bottom: 0.3vw solid black;
    border-left:  1px solid grey;
    border-right: 1px solid grey;
    opacity: 0.4;
    transform-origin: top;
    display: none;
}

 .catan-house--container:hover {
        background: red;
        opacity: 1;
    }

/* - - - House Elements - - - */
.catan-shore--ship {
    position: absolute;
    /*top: 3vw;*/
    /*left: 51.5%;*/
    overflow: auto;
    width: 4.215vw;
    height: 4.215vw;
    margin: 0 auto;
    background-image: url('../Ship.JPG');
    -ms-background-size: cover;
    background-size: cover;
    /*position: absolute; left:40%;right: 40%;top: 0;bottom: 0;*/
    overflow: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    opacity: 1;
    transform-origin: center;
    display: none;
    z-index: 1;
}

.catan-shore--ship:hover {
        position: absolute;
        opacity: 0.7;
    }


.catan-road--road {
      /*top:0;
    left:0;
    height: 55%;
    width: 10%;
    background: red;
    z-index: 22;*/
}
/* - - - END - - -*/



/*#map_container {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
    height: 55%;
    background: green;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}*/
