body {
    max-height: 110vw;
}

*:focus {outline:0;}

#chat-box {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 78px;
    background-image: url('../../Views/../Resources/chat-background.jpg');
    background-size: 576px 1024px;
    background-repeat: repeat-y;
    color: black;
    z-index: 4;
    overflow-y: scroll;
    outline: 1px solid navy;
    /*overflow-x: hidden;*/
}

.chat-bubble {
    margin: 5px;
    margin-left: 15px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 0 5px 5px 5px;
    background: rgb(249,249,249);
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-user-select: all !important;
    -moz-user-select: all !important;
    -ms-user-select: all !important;
    -o-user-select: all !important;
    user-select: all !important;
}

#sendMessage {
    display: none;
}

#messageText {
    width: 96%;
    margin: 2%;
    border-radius: 15px;
    height: 35px;
    padding: 12px 20px;

}

#messageTextContainer {
    background: whitesmoke;
}

#chat-box-options {
    height: 30px;
    width: 100%;
}

#collapse-chat-box {
      margin: 0;
    padding: 0;

    height: 30px;
    width: 30px;
    background: white;
    display: inline-block;
}

#throw-dice {
    margin: 0;
    padding: 0;

    height: 30px;
    width: 30px;
    background: white;
    display: inline-block;
}

.ChevronDown{
    margin: 0;
    padding: 0;
    position:relative;
    display:block;
    height:30px;/*height should be double border*/
}
.ChevronDown:before,
.ChevronDown:after{
    position:absolute;
    display:block;
    content:"";
    border:13px solid transparent;/*adjust size*/
}
/*Change four 'top' values below to rotate (top/right/bottom/left)*/
.ChevronDown:before{
    top:6px;
    border-top-color:#b00;/*Chevron Color*/
}
.ChevronDown:after{
    top:1px;/*adjust thickness*/
    border-top-color:#fff;/*Match background colour*/
}

.ChevronUp{
    margin: 0;
    padding: 0;
    position:relative;
    display:block;
    height:30px;/*height should be double border*/
}
.ChevronUp:before,
.ChevronUp:after{
    position:absolute;
    display:block;
    content:"";
    border:13px solid transparent;/*adjust size*/
}
/*Change four 'top' values below to rotate (top/right/bottom/left)*/
.ChevronUp:before{
    bottom: 7px;
    border-bottom-color:#b00;/*Chevron Color*/
}
.ChevronUp:after{
    bottom:2px;/*adjust thickness*/
    border-bottom-color:#fff;/*Match background colour*/
}

.chat-collapsed {
    overflow-y: hidden;
    overflow-x: hidden;
}