﻿.game-notifications-list__item {
  z-index: 8; }
  .game-notifications-list__item--green {
    padding: 10px 0 10px 40px;
    z-index: 8;
    font-size: 13px;
    margin: 10px;
    list-style: none;
    color: white;
    text-align: center;
    background: #4ea255; }
  .game-notifications-list__item--red {
    padding: 10px 0 10px 40px;
    z-index: 8;
    font-size: 13px;
    margin: 10px;
    list-style: none;
    color: white;
    text-align: center;
    background: #a50e19; }
  .game-notifications-list__item--orange {
    padding: 10px 0 10px 40px;
    z-index: 8;
    font-size: 13px;
    margin: 10px;
    list-style: none;
    color: white;
    text-align: center;
    background: #ed9517; }

#modal-popup-container {
  top: 50px;
  left: 10px;
  padding: 15px;
  position: fixed;
  background: purple;
  z-index: 5; }

#show-hide-demo-tab-closed {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 30px;
  width: 30px;
  background: white; }

#start-the-game {
  position: absolute;
  top: 10px;
  left: 50px;
  height: 30px;
  width: 50px;
  background: white; }

.start-pressed-clicked {
  border-left: 2px solid #4CAF50;
  border-top: 2px solid #4CAF50;
  background: Chartreuse;
  cursor: none; }

#list-available-games {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 150px;
  background: white; }

#available-games {
  visibility: hidden;
  position: absolute;
  top: 90px;
  left: 50px;
  width: 390px;
  background: #FFFDD0;
  min-height: 250px; }

.available-game__join {
  clear: left;
  width: 350px;
  height: 22px;
  border: 5px solid #a50e19;
  margin: 5px;
  padding: 10px;
  padding-top: 5px; }

.available-game__join--button {
  width: 75px;
  background: #a50e19;
  color: white;
  float: right;
  font-size: 20px; }

.available-game__person--blue {
  float: left;
  width: 90px;
  height: 22px;
  border: 5px solid blue;
  margin: 5px;
  padding: 10px;
  padding-top: 5px; }

.available-game__person--red {
  float: left;
  width: 90px;
  height: 22px;
  border: 5px solid red;
  margin: 5px;
  padding: 10px;
  padding-top: 5px; }

.available-game__person--orange {
  float: left;
  width: 90px;
  height: 22px;
  border: 5px solid orange;
  margin: 5px;
  padding: 10px;
  padding-top: 5px; }

.modal-dialog {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s; }

.bootstrap-dialog-footer-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center; }

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: Transparent;
  border: none; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.modal-header {
  font-size: 24px;
  padding: 2px 16px;
  background-color: #2C3E50;
  color: #f1c40f;
  font-size: 4rem;
  display: block;
  text-align: center; }

.modal-body {
  border-top: white solid 15px;
  border-bottom: white solid 15px;
  background-color: #2C3E50;
  padding: 12px 16px;
  color: #f1c40f;
  padding: 20px;
  text-align: center; }

.modal-footer {
  padding: 2px 16px;
  background-color: #2C3E50;
  color: white; }

#start-the-game-text-box {
  padding: 3px;
  position: absolute;
  top: 10px;
  left: 50px;
  height: 30px;
  width: 150px;
  background: white; }

#game-notifications {
  position: absolute;
  top: 20px;
  left: 20%;
  right: 20%; }

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; }
  .btn:hover,
  .btn:focus {
    color: #fff;
    outline: 0; }

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out; }
  .first:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset; }

.second {
  border-color: LIME;
  color: #fff;
  background-image: linear-gradient(45deg, LIME 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out; }
  .second:hover {
    background-position: 0; }

.third {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out; }
  .third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db; }

.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out; }
  .fourth:hover {
    background-position: 0; }

.fifth {
  border-color: #8e44ad;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out; }
  .fifth:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #8e44ad;
    z-index: -1;
    transition: width 150ms ease-in-out; }
  .fifth:hover {
    color: #fff; }
    .fifth:hover:after {
      width: 110%; }

.sixth {
  border-radius: 3em;
  border-color: #2ecc71;
  color: #2ecc71;
  background-image: linear-gradient(to bottom, transparent 50%, #2ecc71 50%);
  background-position: 0% 0%;
  background-size: 210%;
  transition: background 150ms ease-in-out, color 150ms ease-in-out; }
  .sixth:hover {
    color: #fff;
    background-position: 0 100%; }
