﻿
@model AmazeTestDeviceBookings.Models.QuickRegisterViewModel
@{
    ViewBag.Title = "Add Users";
}
<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    <h4>Note: @Html.ActionLink("Users can register themselves using this link", "Register", "Account")</h4>

    @{ var web = Request.Url.Authority + "/Account/Register";}
    <h5 style="color: blue; margin-left: 50px ">@Html.ActionLink(web, "Register", "Account") </h5>
    <hr />

    @using (Html.BeginForm("CreateNewUser", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {

        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <p class="viewbagmessage">
            @ViewBag.Message
        </p>

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>

    }
    <hr />

    <p>
        <span class="glyphicon glyphicon-eye-open"></span>
        @Html.ActionLink("Back to Admin", "Index", "Admin", null, new { @class = "btn btn-default" })
    </p>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
