﻿@model AmazeTestDeviceBookings.Models.UserAndRolesDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <p>
                @Html.ActionLink("Back to User Admin", "Index", null, new { @class = "btn btn-default" })
            </p>

            <p>
                @Html.ActionLink("Edit User", "EditUser", new { UserName = Model.UserName }, new { @class = "btn btn-default" })
            </p>

            <hr />

            <h3>
                <span class="glyphicon glyphicon-user"></span>

                @Model.UserName
            </h3>

            <p>
                <input type="submit" value="Add Role" class="btn btn-default" />
                @Html.DropDownList("AddRole")
            </p>

        </div>
        <br />

        <table class="table">
            <tr>
                <td>Editing roles for: <span style="font-size: 16px"> <b> @Model.UserName</b></span></td>
                <th></th>

            </tr>

            <tr>
                <th>
                    Existing Roles:
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.colUserRoleDTO)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @if (!((Model.UserName.ToLower() == this.User.Identity.Name.ToLower()) && item.RoleName == "Administrator") && item.RoleName != "No Roles Found")
                        {
                            @Html.ActionLink("Delete", "DeleteRole",
                            new { UserName = item.UserName, RoleName = item.RoleName },
                            new
                            {
                                onclick =
                                    "return confirm('Are you sure you wish to delete this role?');"
                            })
                        }
                    </td>
                </tr>
            }
        </table>
    }
</div>