﻿@{
    Layout = null;
}
<link href="~/FrontEnd/styles.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
@*todo: 1) React render *@
@*todo: 2) https://p5js.org/get-started/ *@

<div class="container-background">
    <div class="grid-container"> @* parent *@
        <div class="grid-item">@* child *@
            
        </div>
        <div class="grid-item">
            <img class="grid-item-row-1" src="~/Images/Portfolio/photo1.jpg" />
        </div>
        <div class="grid-item">
            <img class="grid-item-row-2" src="~/Images/Portfolio/photo2.jpg" />
        </div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>

        <ul class="menu cf">
            <!-- single tab START -->
            <li><a href="#">TotalCars</a></li>
            <!-- single tab END -->
            <!-- Multi tab START -->
            <li class="menu-hide-items">
                <a href="#">Cars</a>
                <ul class="submenu">
                    <li><a href="#">BMW</a></li>
                    <li><a href="#">Toyota</a></li>
                    <li><a href="#">Mercedes</a></li>
                    <li><a href="#">Lexus</a></li>
                    <li><a href="#">Audi</a></li>
                    <li><a href="#">Volkswagen</a></li>
                    <li><a href="#">Suzuki</a></li>
                    <li><a href="#">Peugeot</a></li>
                    <li><a href="#">Nissan</a></li>
                    <li><a href="#">Mitsubishi</a></li>
                </ul>
            </li>
            <!-- Multi tab END -->

            <li class="menu-hide-items">
                <a href="#">Resources</a>
                <ul class="submenu">
                    <li><a href="https://getbootstrap.com/docs/3.3/components"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Bootstrap Components</a></li>
                    <li><a href="https://www.w3schools.com/html/default.asp"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> w3schools</a></li>
                    <li><a href="https://codepen.io/eskensberg/pens/public"><span class="glyphicon glyphicon-heart" aria-hidden="true"> Elvis' CodePen </span></a></li>
                    <li><a href="https://www.youtube.com/results?search_query=devtips+css"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> DevTips</a></li>
                </ul>
            </li>
            <li class="menu-hide-items">
                <a href="#">Colours</a>
                <ul class="submenu">
                    <li><a href="#">Red</a></li>
                    <li><a href="#">Black</a></li>
                    <li><a href="#">Yellow</a></li>
                    <li><a href="#">White</a></li>
                </ul>
            </li>
            <li class="menu-hide-items">
                <a href="#">Lessons</a>
                <ul class="submenu">
                    <li><a href="#"> w3schools</a></li>
                    <li><a href="#">CSS3</a></li>
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">PHP</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </li>
            <li class="menu-hide-items"><a href="#">Contact Me</a></li>
            <li class="menu-hide-items"><a href="#">GitHub</a></li>
        </ul>

    </div>

</div>