﻿@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

    <!-- TELLS PHONES NOT TO LIE ABOUT THEIR WIDTH -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta charset="utf-8">
    <title>Album</title>

    <!-- STYLE SHEETS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700i" rel="stylesheet">
    <link href="~/Content/Music/styles.min.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/f1bcd8c44e.js"></script>

</head>
<body>
    <!-- PAGE HEADER GOES HERE -->
    <header>
        <h1>Artists</h1>
    </header>

    <!-- PAGE NAVIGATION GOES HERE -->
    <nav>
        <div>
            <a href="@Url.Action("Music", "Home")"><span class="fa fa-music"></span></a>
        </div>
        <div class="active">
            <a href="@Url.Action("Artists", "Home")"><span class="fa fa-music"></span></a>
        </div>
        <div>
            <a href="@Url.Action("Player", "Home")"><span class="fa fa-music"></span></a>
        </div>
        <div>
            <a href="@Url.Action("Music", "Home")"><span class="fa fa-music"></span></a>
        </div>
    </nav>

    <!-- PAGE CONTENT GOES HERE -->
    <main class="artist">
        <section>
            <div>
                <a href="@Url.Action("Artists", "Home")">
                    <img src="~/Content/Music/Player_artists-assets/r_andrea160.jpg" alt="Alternate Text" />
                </a>
            </div>
            <div>Andrea Reys</div>
        </section>
        <section>
            <div>
                <a href="@Url.Action("Artists", "Home")">
                    <img src="~/Content/Music/Player_artists-assets/r_andrea160.jpg" alt="Alternate Text" />
                </a>
            </div>
            <div>Andrea Reys</div>
        </section>
        <section>
            <div>
                <a href="@Url.Action("Artists", "Home")">
                    <img src="~/Content/Music/Player_artists-assets/r_andrea160.jpg" alt="Alternate Text" />
                </a>
            </div>
            <div>Andrea Reys</div>
        </section>
        <section>
            <div>
                <a href="@Url.Action("Artists", "Home")">
                    <img src="~/Content/Music/Player_artists-assets/r_andrea160.jpg" alt="Alternate Text" />
                </a>
            </div>
            <div>Andrea Reys</div>
        </section>
        <section>
            <div>
                <a href="@Url.Action("Artists", "Home")">
                    <img src="~/Content/Music/Player_artists-assets/r_andrea160.jpg" alt="Alternate Text" />
                </a>
            </div>
            <div>Andrea Reys</div>
        </section>
        <section>
            <div>
                <a href="@Url.Action("Artists", "Home")">
                    <img src="~/Content/Music/Player_artists-assets/r_andrea160.jpg" alt="Alternate Text" />
                </a>
            </div>
            <div>Andrea Reys</div>
        </section>
        <section>
            <div>
                <a href="@Url.Action("Artists", "Home")">
                    <img src="~/Content/Music/Player_artists-assets/r_andrea160.jpg" alt="Alternate Text" />
                </a>
            </div>
            <div>Andrea Reys</div>
        </section>
        <section>
            <div>
                <a href="@Url.Action("Artists", "Home")">
                    <img src="~/Content/Music/Player_artists-assets/r_andrea160.jpg" alt="Alternate Text" />
                </a>
            </div>
            <div>Andrea Reys</div>
        </section>

    </main>

    <!-- PAGE FOOTER GOES HERE -->
    @*<footer></footer>*@

</body>
</html>