﻿@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

    <!-- TELLS PHONES NOT TO LIE ABOUT THEIR WIDTH -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta charset="utf-8">
    <title>Album</title>

    <!-- STYLE SHEETS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700i" rel="stylesheet">
    <link href="~/Content/Music/styles.min.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/f1bcd8c44e.js"></script>

</head>
<body>
    <!-- PAGE HEADER GOES HERE -->
    <header>
        <h1>Album</h1>
    </header>

    <!-- PAGE NAVIGATION GOES HERE -->
    <nav>
        <div class="active">
            <a href="@Url.Action("Music", "Home")"><span class="fa fa-music"></span></a>
        </div>
        <div><a href="@Url.Action("Artists", "Home")"><span class="fa fa-music"></span></a></div>
        <div><a href="@Url.Action("Music", "Home")"><span class="fa fa-music"></span></a></div>
        <div><a href="@Url.Action("Player", "Home")"><span class="fa fa-music"></span></a></div>
    </nav>

    <!-- PAGE CONTENT GOES HERE -->
    <main class="album">
        <figure>
            <a href="@Url.Action("Music", "Home")">
                <img src="~/Content/Music/Player_albums-assets/a_beach400.jpg" srcset="~/Content/Music/Player_albums-assets/a_beach200.jpg 1x, ~/Content/Music/Player_albums-assets/a_beach400.jpg 2x" />
            </a>
            <figcaption>On the beach</figcaption>
        </figure>
        <figure>
            <a href="@Url.Action("Music", "Home")">
                <img src="~/Content/Music/Player_albums-assets/a_beach400.jpg" srcset="~/Content/Music/Player_albums-assets/a_beach200.jpg 1x, ~/Content/Music/Player_albums-assets/a_beach400.jpg 2x" />
            </a>
            <figcaption>On the beach</figcaption>
        </figure>
        <figure>
            <a href="@Url.Action("Music", "Home")">
                <img src="~/Content/Music/Player_albums-assets/a_beach400.jpg" srcset="~/Content/Music/Player_albums-assets/a_beach200.jpg 1x, ~/Content/Music/Player_albums-assets/a_beach400.jpg 2x"/>
            </a>
            <figcaption>On the beach</figcaption>
        </figure>
        <figure>
            <a href="@Url.Action("Music", "Home")">
                <img src="~/Content/Music/Player_albums-assets/a_beach400.jpg" srcset="~/Content/Music/Player_albums-assets/a_beach200.jpg 1x, ~/Content/Music/Player_albums-assets/a_beach400.jpg 2x" />
            </a>
            <figcaption>On the beach</figcaption>
        </figure>
        <figure>
            <a href="@Url.Action("Music", "Home")">
                <img src="~/Content/Music/Player_albums-assets/a_beach400.jpg" srcset="~/Content/Music/Player_albums-assets/a_beach200.jpg 1x, ~/Content/Music/Player_albums-assets/a_beach400.jpg 2x" />
            </a>
            <figcaption>On the beach</figcaption>
        </figure>
        <figure>
            <a href="@Url.Action("Music", "Home")">
                <img src="~/Content/Music/Player_albums-assets/a_beach400.jpg" srcset="~/Content/Music/Player_albums-assets/a_beach200.jpg 1x, ~/Content/Music/Player_albums-assets/a_beach400.jpg 2x" />
            </a>
            <figcaption>On the beach</figcaption>
        </figure>
        <figure>
            <a href="@Url.Action("Music", "Home")">
                <img src="~/Content/Music/Player_albums-assets/a_beach400.jpg" srcset="~/Content/Music/Player_albums-assets/a_beach200.jpg 1x, ~/Content/Music/Player_albums-assets/a_beach400.jpg 2x" />
            </a>
            <figcaption>On the beach</figcaption>
        </figure>
        <figure>
            <a href="@Url.Action("Music", "Home")">
                <img src="~/Content/Music/Player_albums-assets/a_beach400.jpg" srcset="~/Content/Music/Player_albums-assets/a_beach200.jpg 1x, ~/Content/Music/Player_albums-assets/a_beach400.jpg 2x" />
            </a>
            <figcaption>On the beach</figcaption>
        </figure>
    </main>

    <!-- PAGE FOOTER GOES HERE -->
    @*<footer></footer>*@

</body>
</html>