﻿@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>

    <!-- TELLS PHONES NOT TO LIE ABOUT THEIR WIDTH -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta charset="utf-8">
    <title>Album</title>

    <!-- STYLE SHEETS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700i" rel="stylesheet">
    <link href="~/Content/Music/styles.min.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/f1bcd8c44e.js"></script>

</head>
<body>
    <!-- PAGE HEADER GOES HERE -->
    <header>
        <h1>Player</h1>
    </header>

    <!-- PAGE NAVIGATION GOES HERE -->
    <nav>
        <div>
            <a href="@Url.Action("Music", "Home")"><span class="fa fa-music"></span></a>
        </div>
        <div>
            <a href="@Url.Action("Artists", "Home")"><span class="fa fa-music"></span></a>
        </div>
        <div class="active">
            <a href="@Url.Action("Player", "Home")"><span class="fa fa-music"></span></a>
        </div>
        <div>
            <a href="@Url.Action("Music", "Home")"><span class="fa fa-music"></span></a>
        </div>
    </nav>

    <!-- PAGE CONTENT GOES HERE -->
    <main class="player">
        <div class="photo">
            <img src="~/Content/Music/howl-assets/howl950.jpg" alt="cover"
                 @*sizes="(min-width: 29em) 50vw, 100vw"
                 srcset="images/howl650.jpg 650w, images/howl750.jpg 750w, images/howl850.jpg 850w, images/howl950.jpg 950w"*@>
        </div>

        <div class="startTime">1:25</div>
        <div class="time"><input type="range" name="volume" min="0" max="100" value="30"></div>
        <div class="endTime">-2:14</div>

        <div class="title">
            <span>Howling at the Moon</span>
            <span>Wolf Pack Seven</span>
        </div>

        <div class="previous"><span class="fa fa-angle-double-left"></span></div>
        <div class="play"><span class="fa fa-play"></span></div>
        <div class="next"><span class="fa fa-angle-double-right"></span></div>

        <div class="voldn"><span class="fa fa-volume-down"></span></div>
        <div class="volume"><span><input type="range" name="volume" min="0" max="100"></span></div>
        <div class="volup"><span class="fa fa-volume-up"></span></div>

      
    </main>

    <!-- PAGE FOOTER GOES HERE -->
    @*<footer></footer>*@

</body>
</html>