﻿<div id="chat-box">
    <div id="chat-box-options">
        <button id="collapse-chat-box" class="ChevronUp"><span class=""></span></button>
        <button id="throw-dice"></button>
    </div>
    <div id="chat-box-container">
        <div id="messageTextContainer">
            <input id="messageText" type="text" placeholder="Message" data-bind="value:message " />
        </div>

        <button id="sendMessage" class="chat-btn" onclick="sendMessage" data-bind="click:sendMessage">Send</button>
        <div class="chat-container">
            <div data-bind="foreach:messages">
                <div class="chat-bubble" data-bind="html: $data"></div>
            </div>
        </div>
    </div>
</div>
@{
    // TODO: show how many people are connected to the chat and who
    // TODO: Show chat bubbles and number of unread messages
}

<script>
    $("#messageText").keyup(function (event) {
        if (event.keyCode == 13) {
            $("#sendMessage").click();
        }
    });
    // todo: when expanding the box, focus on the text to type imediately!
    // toggle the height of the message box
    $(document).ready(function () {
        var position = 'collapsed';

        $("#collapse-chat-box").click(function () {
            if (position == 'expanded') {
                $('#chat-box').animate({ height: '78px' }, 200)
                    .addClass('chat-collapsed');
                $("#collapse-chat-box")
                    .removeClass("ChevronDown")
                    .addClass("ChevronUp");
                position = 'collapsed';
            } else {
                $('#chat-box').animate({ height: '50%' }, 200);
                $("#collapse-chat-box")
                      .removeClass("ChevronUp")
                      .addClass("ChevronDown");
                position = 'expanded';
            }
        });
    });

</script>