﻿<button id="show-hide-demo-tab-closed" class="ChevronDown"><span class=""></span></button>
<button id="start-the-game" class=""><span class="">Start</span></button>
<button id="list-available-games" class=""><span class="">List Available Games</span></button>
<div id="available-games">
    <i class="fi-die-three"></i>
</div>

<input type="text" id="start-the-game-text-box" placeholder="enter the room name" />
<div id="game-notifications">
    <ul id="game-notifications-list"></ul>
</div>

<div class="modal-dialog" style="display: none;">
    <div class="modal-content">
        <div class="modal-header">
            <div class="bootstrap-dialog-close-button">
                <button class="close">×</button>
            </div>
            <div class="bootstrap-dialog-title"></div>
        </div>
        <div class="modal-body">
            <div class="bootstrap-dialog-body">
                <div class="bootstrap-dialog-message">
                    New message in the modal!
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="bootstrap-dialog-footer">
                <div class="bootstrap-dialog-footer-buttons">
                    <button class="btn first">Close</button>
                    <button class="btn second">Close</button>
                    <button class="btn third">Close</button>
                    <button class="btn fourth">Close</button>
                    <button class="btn fifth">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;" id="modal-popup-container">
    <input type="button" id="sendmessage" value="Send" />
    <input type="button" id="red" value="red" />
    <input type="button" id="blue" value="blue" />
    <input type="button" id="green" value="green!" />
    <input type="button" id="orange" value="orange" />
    <input type="button" id="yellow" value="yellow" />
    <input type="button" id="purple" value="purple" />
    <input type="button" style="width: 25px; background: white; padding-bottom: 2px; color: red" id="show-hide-demo-tab" value="x" />
    <input type="hidden" id="displayname" />
    <br />
    <input type="text" id="message" style="width: 100% " />
    <br />

    <input style="width: 75px" type="button" id="1" value="Grid-On" />
    <input style="width: 75px" type="button" id="3" value="Shores-On" />
    <input style="width: 75px" type="button" id="5" value="Show Tiles" />
    <input style="width: 75px" type="button" id="7" value="Show All" />
    <br />
    <input style="width: 75px" type="button" id="2" value="Grid-Off" />
    <input style="width: 75px" type="button" id="4" value="Shores-Off" />
    <input style="width: 75px" type="button" id="6" value="Hide Tiles" />
    <input style="width: 75px" type="button" id="8" value="Hide All" />
    <br />

    <div id="testTime" style="height: 50px; width: 275px; margin: 10px; background: lightgoldenrodyellow;">
        Testing
    </div>
    <div id="discussion"></div>
</div>

<script>

</script>