﻿@{
    var shores = new string[,]
        {
            {"30deg", "6.6vw;", "67.5%"},
            {"-30deg", "6.6vw;", "45.5%"},
            {"-30deg", "16.5vw;", "27.8%"},
            {"", "33.8vw;", "17.8%"},
            {"30deg", "51.5vw;", "28%"},
            {"30deg", "61.5vw;", "46%"},
            {"-30deg", "61.5vw;", "66.5%"},
            {"", "43.5vw;", "76.8%"},
            {"", "22.5vw;", "76.8%"},
        };
}

@for (int i = 0; i < shores.GetLength(0); i++)
{
    <div>
        <div id="shore-@i" style="top: @shores[i, 1]; left: @shores[i, 2]; transform: rotate(@shores[i, 0]);"
             class="catan-shore--ship"></div>
        </div>

}