﻿
<ul id="categories" class="clr">
    @*<li class="pusher"></li>*@

    @for (int i = 1; i <= 55; i++)
    {
        <li id="tile-@i" class="game-tile">
            <div>
                @*<img src="http://via.placeholder.com/300x300" alt=""/>*@
                @*<img src="~/Resources/wood.jpg" />*@
                <img src="" />

                <h1>@(i)</h1>
                <span id="dice-value-@(i)" class="tile-dice">@(i)</span>
                <p>Wood</p>
            </div>
        </li>
    }
</ul>