﻿    /*MAIN ALBUM*/
main.album {
    /*display: grid;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-auto-rows: auto;*/

    /*figure {padding: .7rem 2vw;}
    figure img {width:100%;}
    figure figcaption {text-align: center;}*/

}   /*END ALBUM*/

    /*MAIN ARTIST*/
main.artist {
    grid-template-columns: 1fr 1fr;
}   /*END ARTIST*/

