﻿/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
    font-size: 16px;
    font-family: $defaultFont;
    font-weight: $normal;
    color: $text;
    background-color: #fff;
}

.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

header {
    background-color: $primary;
    color:white;
    padding: .5rem $gutter;
    font-size: 1.5rem;
}

nav {
    background: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    border-top:1px solid $dkgrey;
    display: flex;

    div {
        flex-basis: 25%;
        text-align: center;
    } // end division

    div a {
        display: block;
        font-size: 1.7rem;
        padding: 0.5rem 0;
        color: $ltgrey;
    }

    div.active a {
        background-color: $primary;
        color: white;
    }

}
    
    /*MAIN ALBUM*/

main {
    padding-bottom: 2.75rem;
}
main.album {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;

    figure {padding: .7rem 2vw;}
    figure img {width:100%;}
    figure figcaption {text-align: center;}

}   /*END ALBUM*/


    
    /*MAIN ARTIST*/
main.artist {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    section {
        display: grid;
        grid-template-columns: 80px auto;
        margin: .75rem 5%;

        div img {
            width: 100px;
            clip-path: circle(40px at center);
            webkit-clip-path: circle(40px at center);
        }

        div:nth-child(2n) {
            align-self: center;
            padding-left: 5%;
        }
    } //end section
}   /*END ARTIST*/



    
    /*MAIN ARTIST*/
main.player {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-auto-rows: auto;

    grid-template-areas:
        "photo photo photo"
        "time time time"
        "startTime empty endTime"
        "title title title"
        "prev title next"
        "dn vol up";

    margin: 1.5rem;

        div.photo {
            grid-area: photo;
            img {
                width: 84%;
                margin: 0 0 .5rem 8%;
                border-radius: 20px;
            }
        }
        div.time {
            grid-area: time;
            width: 84%;
            justify-self: center;
            input {
                width: 100%;
            }
        }
        div.startTime {grid-area: startTime; 
                       text-align: right;
        }
        div.endTime {grid-area: endTime; }

        div.title {
            grid-area: title;
            span {
                display: block;
                text-align: center;
            }
            span:nth-child(1){
                font-size: 1.5rem;
                padding: 1rem 0 0.3rem 0;
            }
            span:nth-child(2){
                font-size: 1.2rem;
                padding-bottom: 1rem;
            }
        }

        div.previous {
            grid-area: prev; 
            justify-self: end;
            font-size: 1.5rem;
        }
        div.play {
            grid-area: play;
            justify-self: center;
            font-size: 1.5rem;
            padding-bottom: 1rem;
        }
        div.next {grid-area: next;
                    justify-self: start;
                    font-size: 1.5rem;
        }

        div.voldn {grid-area: dn; justify-self: center;}
        div.volume {grid-area: vol;}
        div.volume input {width: 100%;}
        div.volup {grid-area: up;justify-self: center;}
}   /*END ARTIST*/


