﻿/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "Source San Pro", sans-serif;
  font-weight: 400;
  color: #36175E;
  background-color: #fff; }

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh; }

header {
  background-color: #553285;
  color: white;
  padding: 0.5rem 2%;
  font-size: 1.5rem; }

nav {
  background: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-top: 1px solid #666;
  display: flex; }
  nav div {
    flex-basis: 25%;
    text-align: center; }
  nav div a {
    display: block;
    font-size: 1.7rem;
    padding: 0.5rem 0;
    color: #aaa; }
  nav div.active a {
    background-color: #553285;
    color: white; }

/*MAIN ALBUM*/
main {
  padding-bottom: 2.75rem; }

main.album {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto; }
  main.album figure {
    padding: 0.7rem 2vw; }
  main.album figure img {
    width: 100%; }
  main.album figure figcaption {
    text-align: center; }

/*END ALBUM*/
/*MAIN ARTIST*/
main.artist {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto; }
  main.artist section {
    display: grid;
    grid-template-columns: 80px auto;
    margin: .75rem 5%; }
    main.artist section div img {
      width: 100px;
      clip-path: circle(40px at center);
      webkit-clip-path: circle(40px at center); }
    main.artist section div:nth-child(2n) {
      align-self: center;
      padding-left: 5%; }

/*END ARTIST*/
/*MAIN ARTIST*/
main.player {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "photo photo photo"         "time time time"         "startTime empty endTime"         "title title title"         "prev title next"         "dn vol up";
  margin: 1.5rem; }
  main.player div.photo {
    grid-area: photo; }
    main.player div.photo img {
      width: 84%;
      margin: 0 0 0.5rem 8%;
      border-radius: 20px; }
  main.player div.time {
    grid-area: time;
    width: 84%;
    justify-self: center; }
    main.player div.time input {
      width: 100%; }
  main.player div.startTime {
    grid-area: startTime;
    text-align: right; }
  main.player div.endTime {
    grid-area: endTime; }
  main.player div.title {
    grid-area: title; }
    main.player div.title span {
      display: block;
      text-align: center; }
    main.player div.title span:nth-child(1) {
      font-size: 1.5rem;
      padding: 1rem 0 0.3rem 0; }
    main.player div.title span:nth-child(2) {
      font-size: 1.2rem;
      padding-bottom: 1rem; }
  main.player div.previous {
    grid-area: prev;
    justify-self: end;
    font-size: 1.5rem; }
  main.player div.play {
    grid-area: play;
    justify-self: center;
    font-size: 1.5rem;
    padding-bottom: 1rem; }
  main.player div.next {
    grid-area: next;
    justify-self: start;
    font-size: 1.5rem; }
  main.player div.voldn {
    grid-area: dn;
    justify-self: center; }
  main.player div.volume {
    grid-area: vol; }
  main.player div.volume input {
    width: 100%; }
  main.player div.volup {
    grid-area: up;
    justify-self: center; }

/*END ARTIST*/
/*@media only screen and (min-width: 560px) {*/
@media only screen and (min-width: 29rem) {
  /*MAIN ALBUM*/
  main.album {
    /*display: grid;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-auto-rows: auto;*/
    /*figure {padding: .7rem 2vw;}
    figure img {width:100%;}
    figure figcaption {text-align: center;}*/ }
  /*END ALBUM*/
  /*MAIN ARTIST*/
  main.artist {
    grid-template-columns: 1fr 1fr; }
  /*END ARTIST*/ }

/*@media only screen and (min-width: 1140px) {
    @import "large";  
} // end media query*/
