﻿@{
    Layout = null;

    // TODO: Inform of caching issues in nothing happens upon clicking list games, click to hard refresh if perfHub.start() fails

}

<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />

<link href="~/Resources/styles/CatanStyles.css" rel="stylesheet" />         @* - GAME  CSS *@
<link href="~/Resources/styles/ChatEngine.css" rel="stylesheet" />          @* - CHAT  CSS *@
<link href="~/Resources/styles/modal-pop-up.min.css" rel="stylesheet" />    @* - MODAL CSS *@

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/signalR/hubs"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Resources/js/ChatHub.js"></script>

@*<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>*@

@Html.Partial("~/Views/Game/Shared/_tiles.cshtml")

@Html.Partial("~/Views/Game/Shared/_roads.cshtml")

@Html.Partial("~/Views/Game/Shared/_houses.cshtml")

@Html.Partial("~/Views/Game/Shared/_shores.cshtml")

@Html.Partial("~/Views/Game/Shared/_chatbox.cshtml")

@Html.Partial("~/Views/Game/Shared/_modal-popup.cshtml")

@*<script src="~/Scripts/GameFunctionDefinitions.js"></script>*@
<script src="~/Scripts/Catan/app.js"></script>



@*<script src="~/Scripts/Catan/GameInstructions"></script>*@

<script>

    // todo: allow annonimous! (what kind of portfolio it be otherwise...)
    // todo: add dice numbers to tiles!
    var initialMemoryUsed = window.performance.getMemoryUsage; // todo: implement!
    var GameNumber = '';
    var notificationNumber = 0;
    var Player1 = "";
    var Player2 = "";
    var Player3 = "";
    var Player4 = "";
    var NumberOfPlayers = "";
    var WhosTurn = "";
    var currentGame = {};

    function removeNotification(id, param) {
        setTimeout(function () {
            $('#notificationNumber' + id).fadeOut(param);
        }, param + 1000);
    }

    function changeImage(param, str) {
        $($(param)).css('background-image', str);
    }


    (function () {

        var gameHub = $.connection.perfHub;
        $.connection.hub.start().done(function () {
            $(function () {
                gameHub.server.listChat();
            });
        });


        gameHub.client.sendInstructions = function (id, message) {
            gameModel.sendInstructions(id, message);
        }

        gameHub.client.startGame = function (gameboard) {
            gameModel.startGame(gameboard);
        }

        var GameModel = function () {
            return this;
        }

        GameModel.prototype = {

            sendInstructions: function (id, message) {

                if (id === "serverFunction") {

                    var ctx = {
                        showRoads: function (param) { $(param).show(); },
                        hideRoads: function (param) { $(param).hide(); },
                        shoresOn: function (param) { $(param).show(); },
                        shoresOff: function (param) { $(param).hide(); },
                        show: function (param) { $(param).show(); },
                        hide: function (param) { $(param).hide(); },
                        delete_item: function (param) { $(param).hide(); },

                        notification_green: function (param) {
                            $('#game-notifications-list').append('<li id="notificationNumber' + notificationNumber + '" class="game-notifications-list__item--green">' + param + '</li>');
                            removeNotification(notificationNumber, 3300);
                            notificationNumber++;
                        },
                        notification_red: function (param) {
                            $('#game-notifications-list').append('<li id="notificationNumber' + notificationNumber + '" class="game-notifications-list__item--red">' + param + '</li>');
                            removeNotification(notificationNumber, 3300);
                            notificationNumber++;
                        },
                        notification_orange: function (param) {
                            $('#game-notifications-list').append('<li id="notificationNumber' + notificationNumber + '" class="game-notifications-list__item--orange">' + param + '</li>');
                            removeNotification(notificationNumber, 3300);
                            notificationNumber++;
                        },
                        disable_start_button: function (param) {
                            $("#start-the-game").prop('disabled', true)
                                .css("background-color", "Chartreuse");
                        },
                        assign_game_variable: function (param) {
                            GameNumber = param;
                        },
                        list_rooms: function (room) {
                            $('#available-games').empty();
                            var rooms = room.split(',');
                            var number = 0;
                            var color = "red";
                            var td;
                            var para;
                            var roomname;
                            for (var i = 0; i < rooms.length; i++) {
                                if (rooms[i] === 'room') {
                                    number++;
                                    roomname = rooms[i + 1];
                                    // creates a div #available-game-number
                                    $('#available-games').append('<div id="available-game-' + number + '" class="available-game"></div>');
                                    // html to go inside the div
                                    var html = '';
                                    // div.available-game__join
                                    html += '<div class="available-game__join">';
                                    html += 'Game: <b>' + rooms[i + 1] + '</b>';
                                    html += ' <button id="listed_game_' + rooms[i + 1] + '" class="available-game__join--button">Join</button>';
                                    html += '</div>';
                                    // add a button
                                    $('#available-game-' + number).append(html);
                                    var selector = '#available-game-' + number + ' .available-game__join--button';

                                    $(selector).click(function () {
                                        var str = $(this).parent().html().replace('Game: <b>', '');;
                                        str = $.trim(str.substr(0, str.indexOf('</b>')));
                                        JoinGroup(str);
                                        console.log(str);
                                    });
                                    i++;
                                } else {
                                    $('#available-game-' + number).append('<div class="available-game__person--' + color + '">' + rooms[i] + '</div>'); // room 2, 3
                                    if (color == "red") {
                                        color = "orange";
                                    } else if (color == "orange") {
                                        color = "blue";
                                    } else if (color == "blue") {
                                        color = "red";
                                    }
                                }
                            }
                        }
                    }

                    for (var index = 0; index < message.length; ++index) {
                        ctx[message[index].function](message[index].element);
                    }
                } else {
                    console.log(id);
                    console.log(message);
                }

                $("#modal-popup-container").css("background", id);
                $('#message').val(id);
            },

            startGame: function (gameboard) {
                console.log(gameboard);
                currentGame = gameboard;
                Tiles = currentGame[0]["Tiles"];
                Harbor = currentGame[0]["Harbor"];
                Player1 = currentGame[0]["Player1"];
                Player2 = currentGame[0]["Player2"];
                Player3 = currentGame[0]["Player3"];
                Player4 = currentGame[0]["Player4"];

                var id = '';
                for (var shore = 0; shore < Harbor.length; shore++) {

                    id = '#shore-' + Harbor[shore]['Id'];
                    var type = 'url(/Resources/' + Harbor[shore]['Type'] + '.JPG)';
                    //$(id).attr("src", "/Resources/Tiles/" + type + ".jpg");
                    //id = '#tile-' + Tiles[shore]['Id'] + ' p';
                    //$(id).text(type);

                    changeImage(id, type);
                    console.log(type);

                }

                //for (var i = 0; i < items.length; i++) {
                //    changeImage(items[i][0], items[i][1]);
                //}

                for (var i = 0; i < 19; i++) {

                    id = '#tile-' + Tiles[i]['Id'] + ' img';
                    var atr = Tiles[i]['Type'];
                    $(id).attr("src", "/Resources/Tiles/" + atr + ".jpg");
                    id = '#tile-' + Tiles[i]['Id'] + ' p';
                    $(id).text(atr);
                    //id = '#tile-' + Tiles[i]['Id'] + ' h1'; //heading with dice value
                    //$(id).text("8");

                }
                var diceValues = [10, 11, 12, 17, 18, 19, 20, 23, 24, 25, 26, 27, 31, 32, 33, 34, 38, 39, 40];
                var dessertTile = diceValues.indexOf(currentGame[0]['Tiles'][0]['Id']);
                diceValues.splice(dessertTile, 1);
                var tokenValues = [5, 2, 6, 10, 9, 4, 3, 8, 11, 5, 8, 4, 3, 6, 10, 11, 12, 9];
                var concatinatedValues = [diceValues.concat(tokenValues)];
                diceValues = concatinatedValues;
                id = '#tile-' + currentGame[0]['Tiles'][0]['Id'] + ' h1';
                $(id).text("");

                for (var j = 0; j < 18; j++) {
                    id = '#tile-' + diceValues[0][j] + ' h1';
                    $(id).text(diceValues[0][j + 18]);
                }

                //console.log('tile no: ' + currentGame[0]['Tiles'][0]['Id']);

                $('#start-the-game').hide();
            }
        };

        var gameModel = new GameModel();

        // Call the Send method on the hub.
        $.connection.hub.start().done(function () {
            $('html *').click(function () {
                gameHub.server.send($(this).attr('id'), $(this).val(), GameNumber);
            });
            // click instructions
            $('#list-available-games').click(function () {
                gameHub.server.listAvailableGames();
            });
        });



        // hover state
        //$.connection.hub.start().done(function () {
        //    $('html *').hover(function () {
        //        // Call the Send method on the hub.
        //        instructions.server.send($(this).attr('id'), $(this).val());
        //        //$('#message').val($(this).attr('id')).focus();
        //    }, function () {
        //        $('#message').val('').focus();
        //    });
        //});

        $('#show-hide-demo-tab').click(function () {
            $('#modal-popup-container').hide(500);
            $('#show-hide-demo-tab-closed').show(500);
        });
        $('#show-hide-demo-tab-closed').click(function () {
            $(this).hide(500);
            $('#modal-popup-container').show(500);
        });

        $("#start-the-game-text-box").keyup(function (event) {
            if (event.keyCode == 13) {
                gameHub.server.joinGroup($(this).val());
            }
        });

        //$(".available-game__join--button").click(function(){
        //    instructions.server.listAvailableGames();
        //});

        function JoinGroup(parameters) {
            gameHub.server.joinGroup(parameters);
        }



    }());

    console.log(initialMemoryUsed + ' memory used!');
</script>







