﻿
@{
    Layout = null;
  
}

<link href="~/Resources/styles/CatanStyles.css" rel="stylesheet" />
<link href="~/Resources/styles/ChatEngine.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>

<script src="~/signalR/hubs"></script>

<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Resources/js/settlersR.js"></script>
@*<script src="~/Resources/js/ChatHub.js"></script>*@
<script src="~/Resources/js/test.js"></script>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>



@*@Html.Partial("~/Views/Game/Shared/_tiles.cshtml")

@Html.Partial("~/Views/Game/Shared/_roads.cshtml")

@Html.Partial("~/Views/Game/Shared/_houses.cshtml")

@Html.Partial("~/Views/Game/Shared/_shores.cshtml")

@Html.Partial("~/Views/Game/Shared/_chatbox.cshtml")*@



<script src="~/Scripts/GameFunctionDefinitions.js"></script>
<script src="~/Scripts/Catan/app.js"></script>



<script>
    $(function() {
        changedTouches = $.connection.changedTouches;

        $.connection.hub.start();
    });

    function buildDiv(className, color, number, text, breakfloat) {
        var elm = '<div class="' + className + '" ' +
            'style="background: ' + color + '; height: ' + number + 'px; width: ' + number + 'px; float: left;">' +
            '</div>';
        $("body").prepend(elm);
        console.log(elm);
    }

    //var div1 = new buildDiv('temp1', 'red', 100);
    //var div2 = new buildDiv('temp1', 'green', 50);
    //var div2 = new buildDiv('temp1', 'purple', 25);
</script>

@* 

    1. need objects with functions on them that (when visible/active) send instructions to the server.
    
    i.   show/hide grid
    ii.  populate tiles/edges/shores
    iii. show message/panel
    iv.  show sea background?
    v. 
*@