﻿@using Microsoft.AspNet.Identity
<ul class="menu cf">
    <!-- single tab START -->
    @*<li><a href="#">skensberg.design</a></li>*@
    <!-- single tab END -->
    <li class="menu-hide-items" id="navbar-ul-1">
        <a href="#">skensberg.solutions</a>
        <ul class="submenu">
            <li><a href="#">About me</a></li>
            <li><a href="#">skype</a></li>
            <li><a href="#">linkedIn</a></li>
            <li><a href="#">facebook</a></li>
            <li><a href="#">bitBucket</a></li>
            <li style="text-decoration:line-through;"><a href="#">twitter</a></li>
        </ul>
    </li>



    <!-- Multi tab START -->
    <li class="menu-hide-items" id="navbar-ul-2">
        <a href="#">My Showcase</a>
        <ul class="submenu">
            <li><a href="@Url.Action("Index", "Game")">Settlers Game</a></li>
            <li><a href="#">(coming soon) BookingApp</a></li>
        </ul>
    </li>
    <!-- Multi tab END -->
    <!-- Multi tab START -->
    <li class="menu-hide-items" id="navbar-ul-3">
        <a href="#">#Stack</a>
        <ul class="submenu">
            <li><a href="#">Full Stack .Net (c#)</a></li>
            <li><a href="#">css/scss</a></li>
            <li><a href="#">React / JS/ jQuery</a></li>
            <li><a href="#">Umbraco</a></li>
            <li><a href="#">EpiServer</a></li>
            <li><a href="#">wordpress</a></li>
            <li><a href="#">Selenium/SpecFlow</a></li>
            <li><a href="#">DevOps TeamCity/Octopus/IIS </a></li>
        </ul>
    </li>
    <!-- Multi tab END -->

    <li class="menu-hide-items" id="navbar-ul-4">
        <a href="#">Resources</a>
        <ul class="submenu">
            <li><a href="https://getbootstrap.com/docs/3.3/components"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Bootstrap Components</a></li>
            <li><a href="https://www.w3schools.com/html/default.asp"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> w3schools</a></li>
            <li><a href="https://codepen.io/eskensberg/pens/public"><span class="glyphicon glyphicon-heart" aria-hidden="true"> Elvis' CodePen </span></a></li>
            <li><a href="https://www.youtube.com/results?search_query=devtips+css"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> DevTips</a></li>
        </ul>
    </li>
    <li class="menu-hide-items" id="navbar-ul-5">
        <a href="#">Initiatives</a>
        <ul class="submenu">
            <li><a href="#">girl.code</a></li>
            <li><a href="#">Certified by Amaze</a></li>
        </ul>
    </li>

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "display: none;" }))
        {
            @Html.AntiForgeryToken()
            <li><a href="javascript:document.getElementById('logoutForm').submit()"></a></li>

        }
    }
    <li class="menu-hide-items" id="navbar-ul-6">

        @if (Request.IsAuthenticated)
        {
            <a href="#">@User.Identity.GetUserName()</a>
            <ul class="submenu">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                {
                    @*@Html.AntiForgeryToken()*@
                    @*<li>
                            @Html.ActionLink("Manage your account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>*@
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <li>Thank you</li>
                        <li>for visiting!</li>
                        <li>Log off</li>
                    </a>
                }
            </ul>
        }
        else
        {
            <a href="#">Not Logged in</a>
            <ul class="submenu">
                <li><a href="@Url.Action("SimpleLogin","Account")">simple login</a></li>
                <li><a href="@Url.Action("Login","Account")">log in</a></li>
                <li><a href="@Url.Action("Register","Account")">Register</a></li>
            </ul>
        }
    </li>
</ul>

<script>
    $(function () {
        $('#navbar-ul-1, #navbar-ul-2').hover(function () {
            if ($(window).width() < 1100) {
                $('#navbar-ul-6').css('visibility', 'hidden');
            }
        }, function () {
            $('#navbar-ul-6').css('visibility', 'visible');
        });

        $('#navbar-ul-1, #navbar-ul-2').hover(function () {
            if ($(window).width() < 903) {
                $('#navbar-ul-5,#navbar-ul-6').css('visibility', 'hidden');
            }
        }, function () {
            $('#navbar-ul-5,#navbar-ul-6').css('visibility', 'visible');
        });

        $('#navbar-ul-1, #navbar-ul-2').hover(function () {
            if ($(window).width() < 745) {
                $('#navbar-ul-4,#navbar-ul-5,#navbar-ul-6').css('visibility', 'hidden');
            }
        }, function () {
            $('#navbar-ul-4,#navbar-ul-5,#navbar-ul-6').css('visibility', 'visible');
        });

        $('#navbar-ul-3').hover(function () {
            if ($(window).width() < 745 && $(window).width() > 575) {
                $('#navbar-ul-4,#navbar-ul-5,#navbar-ul-6').css('visibility', 'hidden');
            }
        }, function () {
            $('#navbar-ul-4,#navbar-ul-5,#navbar-ul-6').css('visibility', 'visible');
        });

        $('#navbar-ul-3').hover(function () {
            if ($(window).width() < 575) {
                $('#navbar-ul-6').css('visibility', 'hidden');
            }
        }, function () {
            $('#navbar-ul-6').css('visibility', 'visible');
        });

        $('#navbar-ul-4').hover(function () {
            if ($(window).width() < 575) {
                $('#navbar-ul-6').css('visibility', 'hidden');
            }
        }, function () {
            $('#navbar-ul-6').css('visibility', 'visible');
        });


    });

</script>