﻿
/*#grid-container {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 65px;
    grid-auto-rows: auto;
}*/
.grid-item {
    height: 399px;
}

.grid-item img {
    height: 513px;
    height: 627px;
}

.grid-item:nth-child(2n-1) img {
    left: 136.8px;
}

.grid-item:nth-child(2n-2) img {
    right: 114px;
}


