﻿
#container-background {
    width: 100%;
    height: 10000px;
    background: #282828;
}

#grid-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1000px;
    padding-bottom: 3150px;
    /*grid-auto-rows: auto;*/
    background: rgba(166,0,0,1);
    background: -moz-linear-gradient(left, rgba(166,0,0,1) 0%, rgba(166,0,0,1) 0, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(166,0,0,1) 100%, rgba(166,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(166,0,0,1)), color-stop(1%, rgba(166,0,0,1)), color-stop(20%, rgba(0,0,0,1)), color-stop(90%, rgba(0,0,0,1)), color-stop(100%, rgba(166,0,0,1)), color-stop(100%, rgba(166,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(166,0,0,1) 0%, rgba(166,0,0,1) 0, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(166,0,0,1) 100%, rgba(166,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(166,0,0,1) 0%, rgba(166,0,0,1) 0, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(166,0,0,1) 100%, rgba(166,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(166,0,0,1) 0%, rgba(166,0,0,1) 0, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(166,0,0,1) 100%, rgba(166,0,0,1) 100%);
    background: linear-gradient(to right, rgba(166,0,0,1) 0%, rgba(166,0,0,1) 0, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(166,0,0,1) 100%, rgba(166,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60000', endColorstr='#a60000', GradientType=1 );
    /*max-width: 960px;*/
    /*height: 1960px; // 1024*/
    /*margin: 20px auto;*/
}

/*.grid-item {
 
    height: auto;
}*/

.grid-item {
    height: 35vw;
    position: relative;
}

.grid-item img {
    width: 100%;
    /*width: 50vh;*/
    height: 45vw;
    height: 55vw;
    /*max-width: 513px;*/
    /*height: 25vw;*/
    position: absolute;
    display: block;
    object-fit: cover;
}



.grid-item:nth-child(2n-1) img {
    left: 12vw;
}

.grid-item:nth-child(2n-2) img {
    right: 10vw;
}

/*.grid-item img:hover {
    outline: 1px solid #4cff00;
}*/


.clip-image-right-top {
    -webkit-clip-path: polygon(100% 0, 80% 0px, 100% 0%, 0px 100%);
    clip-path: polygon(29% 0, 100% 0, 100% 100%, 0 70%);
}

.clip-image-left-top {
    top: -9%;
    -webkit-clip-path: polygon(-10px 100%, 80% 20%, -10px 100%, -10px 100%);
    clip-path: polygon(-10px 100%, 80% 20%, -10px 100%, -10px 100%);
    /*clip-path: polygon(-10px 0, 80% 20%, 100% 80%, 0 100%);*/
    /*padding: 5px;
    border: 5px solid #00ff21;
    background: #00ff21;*/
}

.clip-image-right-middle {
    top: 8%;
    -webkit-clip-path: polygon(0% 15%, 24% 10%, 100% 20%, 100% 80%,39% 100%, 10% 10%);
    clip-path: polygon(24% 10%, 100% 20%, 100% 80%,  45% 100%, 0 54%, 0 15%);
    /*padding: 5px;
    border: 5px solid #00ff21;
    background: #00ff21;*/
}


.clip-image-left-middle {
    top: 10%;
    -webkit-clip-path: polygon(0 0, 75% 10%, 100% 35% , 90% 80%, 20% 100%);
    clip-path: polygon(0 0, 75% 10%, 100% 35% , 90% 80%, 20% 100%);
    /*padding: 5px;
    border: 5px solid #00ff21;
    background: #00ff21;*/
}