﻿
@mixin li-background-gradient() {
    background: #a60000;/* Old Browsers */
background: -moz-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%); /* FF3.6+ */
background: -webkit-gradient(left top, left bottom, color-stop(0%, #a60000), color-stop(9%, #a60000), color-stop(20%, #000000), color-stop(76%, #000000), color-stop(93%, #a60000), color-stop(100%, #a60000));/* Chrome, Safari4+ */
background: -webkit-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%); /* IE 10+ */
background: linear-gradient(to bottom, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60000', endColorstr='#a60000', GradientType=0 );/* IE6-9 */

}


.left-nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

.left-nav__list {
    list-style-type: none;
    padding: 0;
}

.left-nav__article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}


.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.menu {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 10%;
    right: 10%;
    list-style: none;
    margin: 10px auto;
    max-width: 85%;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.menu > li {


    background: #a60000;/* Old Browsers */
background: -moz-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%); /* FF3.6+ */
background: -webkit-gradient(left top, left bottom, color-stop(0%, #a60000), color-stop(9%, #a60000), color-stop(20%, #000000), color-stop(76%, #000000), color-stop(93%, #a60000), color-stop(100%, #a60000));/* Chrome, Safari4+ */
background: -webkit-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%); /* IE 10+ */
background: linear-gradient(to bottom, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60000', endColorstr='#a60000', GradientType=0 );/* IE6-9 */
@include li-background-gradient();

    /*background: #34495e;*/
    float: left;
    position: relative;
    -webkit-transform: skewX(25deg);
}

.menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 14px;
}

.menu li:hover {
    background: #a60000;

}

.menu > li > a {
    -webkit-transform: skewX(-25deg);
    padding: 1em 2em;
}
/* Dropdown */
.submenu {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    -webkit-transform: skewX(-25deg);
    -webkit-transform-origin: left top;
}

.submenu li {
    background-color: #34495e;
@include li-background-gradient();

    position: relative;
    overflow: hidden;
}

.submenu > li > a {
    padding: 0 2em 1em 2em;
}

.submenu > li::after {
    content: '';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}
/* Odd stuff */
.submenu > li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
    -webkit-transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
    right: -50%;
    -webkit-transform: skewX(-25deg) rotate(3deg);
    transform: skewX(-25deg) rotate(3deg);
}
/* Even stuff */
.submenu > li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
    -webkit-transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
    left: -50%;
    -webkit-transform: skewX(25deg) rotate(3deg);
}
/* Show dropdown */
.submenu, .submenu li {
    opacity: 0;
    visibility: hidden;
}

.submenu li {
    transition: .2s ease -webkit-transform;
}

.menu > li:hover .submenu, .menu > li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}

.menu > li:hover .submenu li:nth-child(even) {
    -webkit-transform: skewX(25deg) translateX(15px);
}

.menu > li:hover .submenu li:nth-child(odd) {
    -webkit-transform: skewX(-25deg) translateX(-15px);
}
