﻿@import "variables";
@import "reset";
@import "navbar.scss";  
@import "small-default";

/*@media only screen and (min-width: 560px) {*/
@media only screen and (min-width: 29rem) { // 29rem = 464px
    @import "medium";
} // end media query

@media only screen and (min-width: 1140px) {
    @import "large";  
} // end media query

/** {
    margin: 0px;
    padding: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    border: 0;
}*/

/*h2 {
    margin-bottom: 0.5em;
}

p {
    margin: 0px;
    padding: 0px;
}

.container {
}*/

/*.header,
.middle {
    margin: 0;
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}*/

