﻿/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.left-nav {
  float: left;
  max-width: 160px;
  margin: 0;
  padding: 1em; }

.left-nav__list {
  list-style-type: none;
  padding: 0; }

.left-nav__article {
  margin-left: 170px;
  border-left: 1px solid gray;
  padding: 1em;
  overflow: hidden; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.menu {
  position: fixed;
  z-index: 9999;
  top: 0px;
  left: 10%;
  right: 10%;
  list-style: none;
  margin: 10px auto;
  max-width: 85%;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

.menu > li {
  background: #a60000;
  /* Old Browsers */
  background: -moz-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #a60000), color-stop(9%, #a60000), color-stop(20%, #000000), color-stop(76%, #000000), color-stop(93%, #a60000), color-stop(100%, #a60000));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* IE 10+ */
  background: linear-gradient(to bottom, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60000', endColorstr='#a60000', GradientType=0 );
  /* IE6-9 */
  background: #a60000;
  /* Old Browsers */
  background: -moz-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #a60000), color-stop(9%, #a60000), color-stop(20%, #000000), color-stop(76%, #000000), color-stop(93%, #a60000), color-stop(100%, #a60000));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* IE 10+ */
  background: linear-gradient(to bottom, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60000', endColorstr='#a60000', GradientType=0 );
  /* IE6-9 */
  /*background: #34495e;*/
  float: left;
  position: relative;
  -webkit-transform: skewX(25deg); }

.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px; }

.menu li:hover {
  background: #a60000; }

.menu > li > a {
  -webkit-transform: skewX(-25deg);
  padding: 1em 2em; }

/* Dropdown */
.submenu {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  -webkit-transform: skewX(-25deg);
  -webkit-transform-origin: left top; }

.submenu li {
  background-color: #34495e;
  background: #a60000;
  /* Old Browsers */
  background: -moz-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #a60000), color-stop(9%, #a60000), color-stop(20%, #000000), color-stop(76%, #000000), color-stop(93%, #a60000), color-stop(100%, #a60000));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* IE 10+ */
  background: linear-gradient(to bottom, #a60000 0%, #a60000 9%, #000000 20%, #000000 76%, #a60000 93%, #a60000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60000', endColorstr='#a60000', GradientType=0 );
  /* IE6-9 */
  position: relative;
  overflow: hidden; }

.submenu > li > a {
  padding: 0 2em 1em 2em; }

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.9); }

/* Odd stuff */
.submenu > li:nth-child(odd) {
  -webkit-transform: skewX(-25deg) translateX(0); }

.submenu > li:nth-child(odd) > a {
  -webkit-transform: skewX(25deg); }

.submenu > li:nth-child(odd)::after {
  right: -50%;
  -webkit-transform: skewX(-25deg) rotate(3deg);
  transform: skewX(-25deg) rotate(3deg); }

/* Even stuff */
.submenu > li:nth-child(even) {
  -webkit-transform: skewX(25deg) translateX(0); }

.submenu > li:nth-child(even) > a {
  -webkit-transform: skewX(-25deg); }

.submenu > li:nth-child(even)::after {
  left: -50%;
  -webkit-transform: skewX(25deg) rotate(3deg); }

/* Show dropdown */
.submenu, .submenu li {
  opacity: 0;
  visibility: hidden; }

.submenu li {
  transition: .2s ease -webkit-transform; }

.menu > li:hover .submenu, .menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible; }

.menu > li:hover .submenu li:nth-child(even) {
  -webkit-transform: skewX(25deg) translateX(15px); }

.menu > li:hover .submenu li:nth-child(odd) {
  -webkit-transform: skewX(-25deg) translateX(-15px); }

#container-background {
  width: 100%;
  height: 10000px;
  background: #282828; }

#grid-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 1000px;
  padding-bottom: 3150px;
  /*grid-auto-rows: auto;*/
  background: #a60000;
  background: -moz-linear-gradient(left, #a60000 0%, #a60000 0, black 10%, black 90%, #a60000 100%, #a60000 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #a60000), color-stop(1%, #a60000), color-stop(20%, black), color-stop(90%, black), color-stop(100%, #a60000), color-stop(100%, #a60000));
  background: -webkit-linear-gradient(left, #a60000 0%, #a60000 0, black 10%, black 90%, #a60000 100%, #a60000 100%);
  background: -o-linear-gradient(left, #a60000 0%, #a60000 0, black 10%, black 90%, #a60000 100%, #a60000 100%);
  background: -ms-linear-gradient(left, #a60000 0%, #a60000 0, black 10%, black 90%, #a60000 100%, #a60000 100%);
  background: linear-gradient(to right, #a60000 0%, #a60000 0, black 10%, black 90%, #a60000 100%, #a60000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60000', endColorstr='#a60000', GradientType=1 );
  /*max-width: 960px;*/
  /*height: 1960px; // 1024*/
  /*margin: 20px auto;*/ }

/*.grid-item {
 
    height: auto;
}*/
.grid-item {
  height: 35vw;
  position: relative; }

.grid-item img {
  width: 100%;
  /*width: 50vh;*/
  height: 45vw;
  height: 55vw;
  /*max-width: 513px;*/
  /*height: 25vw;*/
  position: absolute;
  display: block;
  object-fit: cover; }

.grid-item:nth-child(2n-1) img {
  left: 12vw; }

.grid-item:nth-child(2n-2) img {
  right: 10vw; }

/*.grid-item img:hover {
    outline: 1px solid #4cff00;
}*/
.clip-image-right-top {
  -webkit-clip-path: polygon(100% 0, 80% 0px, 100% 0%, 0px 100%);
  clip-path: polygon(29% 0, 100% 0, 100% 100%, 0 70%); }

.clip-image-left-top {
  top: -9%;
  -webkit-clip-path: polygon(-10px 100%, 80% 20%, -10px 100%, -10px 100%);
  clip-path: polygon(-10px 100%, 80% 20%, -10px 100%, -10px 100%);
  /*clip-path: polygon(-10px 0, 80% 20%, 100% 80%, 0 100%);*/
  /*padding: 5px;
    border: 5px solid #00ff21;
    background: #00ff21;*/ }

.clip-image-right-middle {
  top: 8%;
  -webkit-clip-path: polygon(0% 15%, 24% 10%, 100% 20%, 100% 80%, 39% 100%, 10% 10%);
  clip-path: polygon(24% 10%, 100% 20%, 100% 80%, 45% 100%, 0 54%, 0 15%);
  /*padding: 5px;
    border: 5px solid #00ff21;
    background: #00ff21;*/ }

.clip-image-left-middle {
  top: 10%;
  -webkit-clip-path: polygon(0 0, 75% 10%, 100% 35%, 90% 80%, 20% 100%);
  clip-path: polygon(0 0, 75% 10%, 100% 35%, 90% 80%, 20% 100%);
  /*padding: 5px;
    border: 5px solid #00ff21;
    background: #00ff21;*/ }

/*@media only screen and (min-width: 560px) {*/
@media only screen and (min-width: 1140px) {
  /*#grid-container {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 65px;
    grid-auto-rows: auto;
}*/
  .grid-item {
    height: 399px; }
  .grid-item img {
    height: 513px;
    height: 627px; }
  .grid-item:nth-child(2n-1) img {
    left: 136.8px; }
  .grid-item:nth-child(2n-2) img {
    right: 114px; } }

/** {
    margin: 0px;
    padding: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    border: 0;
}*/
/*h2 {
    margin-bottom: 0.5em;
}

p {
    margin: 0px;
    padding: 0px;
}

.container {
}*/
/*.header,
.middle {
    margin: 0;
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}*/

